<%- include('header') %>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="w-100" style="max-width: 700px;">
            <h2 class="text-center mb-4">Darul Uloom Charbari (Gazarikandi) Madrassa</h2>

            <table class="table table-bordered table-striped text-center">
                <tr>
                    <th colspan="2" class="text-center bg-light">
                        <h3>Student Information</h3>
                    </th>
                </tr>
                <tr>
                    <td>Old Student:</td>
                    <td><%= user.old %></td>
                </tr>
                <tr>
                    <td>New Student:</td>
                    <td><%= user.new %></td>
                </tr>
                <tr>
                    <td>Id:</td>
                    <td><%= user._id %></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><%= user.name %></td>
                </tr>
                <tr>
                    <td>Father's Name:</td>
                    <td><%= user.sonOf %></td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td><%= user.dateOfbrith %></td>
                </tr>
                <tr>
                    <td>Village:</td>
                    <td><%= user.vill %></td>
                </tr>
                <tr>
                    <td>Post:</td>
                    <td><%= user.post %></td>
                </tr>
                <tr>
                    <td>Police Station:</td>
                    <td><%= user.police %></td>
                </tr>
                <tr>
                    <td>District:</td>
                    <td><%= user.distric %></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><%= user.state %></td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><%= user.country %></td>
                </tr>
                <tr>
                    <td>PIN:</td>
                    <td><%= user.pin %></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><%= user.phone %></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><%= user.email %></td>
                </tr>
                <tr>
                    <td>Image:</td>
                    <td>
                        <img src="<%= user.image %>" alt="<%= user.name %>" class="img-fluid rounded" style="max-height:150px;">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
